  task_@@task_id@@: task(id: @@task_id@@) {
    build {
      id
      branch
      changeIdInRepo
      durationInSeconds
      pullRequest
      checkSuiteId
      changeTimestamp
      buildCreatedTimestamp
      status
      taskGroupsAmount
      latestGroupTasks {
        id
        status
        name
      }
    }
    name
    status
    statusTimestamp
    creationTimestamp
    scheduledTimestamp
    executingTimestamp
    finalStatusTimestamp
    durationInSeconds
    statusDurations {
      status
      durationInSeconds
    }
    previousRuns {
      id
      status
    }
    allOtherRuns {
      id
      status
    }
    dependencies {
      id
      name
      status
    }
    automaticReRun
    automaticallyReRunnable
    experimental
    stateful
    triggerType
  }