  task_@@task_id@@: task(id: @@task_id@@) {
    automaticReRun
    durationInSeconds
    name
    status
    statusTimestamp
    triggerType
    build {
      branch
      buildCreatedTimestamp
      changeIdInRepo
      changeTimestamp
      durationInSeconds
      id
      pullRequest
      status
    }
    statusDurations {
      status
      durationInSeconds
    }
    previousRuns {
      id
      status
    }
    dependencies {
      name
      status
    }
  }
